In [1]:
import pandas as pd
import math
import numpy as np

import plotly.plotly as py
import plotly.graph_objs as go
import plotly
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import cufflinks as cf
cf.set_config_file(offline=True)

In [10]:
df1 = pd.read_csv('homicide.csv').set_index('Country')
df1.head()

             Intentional Homicide Rate
Country
Aruba                              NaN
Afghanistan                        NaN
Angola                             NaN
Albania                       2.698926
Andorra                            NaN

In [11]:
df2 = pd.read_csv('prison_pop.csv', encoding="cp1252").set_index('Country')
df2.head()

                          Prison Population Rate
Country
United States of America                     655
El Salvador                                  618
Thailand                                     558
Turkmenistan                                 552
Virgin Islands (USA)                         542

In [13]:
df = pd.concat([df1['Intentional Homicide Rate'], df2['Prison Population Rate']],axis = 1, sort='True')

In [14]:
df

,Intentional Homicide Rate,Prison Population Rate
Afghanistan,NaN,88.0
Albania,2.698926,185.0
Algeria,NaN,151.0
American Samoa,5.397101,NaN
American Samoa (USA),NaN,345.0
Andorra,NaN,69.0
Angola,NaN,93.0
Anguilla (United Kingdom),NaN,367.0
Antigua and Barbuda,NaN,321.0
Arab World,NaN,NaN
Argentina,5.942564,207.0
Armenia,2.978126,119.0
Aruba,NaN,NaN
Aruba (Netherlands),NaN,165.0
Australia,0.941156,169.0
Austria,0.655220,98.0
Azerbaijan,2.141252,235.0
Bahamas,NaN,442.0
"Bahamas, The",28.400557,NaN
Bahrain,NaN,234.0
Bangladesh,NaN,52.0
Barbados,NaN,300.0
Belarus,NaN,343.0
Belgium,NaN,88.0
Belize,37.599168,356.0
Benin,NaN,68.0
Bermuda,12.960125,NaN
Bermuda (United Kingdom),NaN,319.0
Bhutan,1.129291,145.0
Bolivia,6.300191,158.0
...,...,...
Tunisia,NaN,181.0
Turkey,NaN,318.0
Turkmenistan,NaN,552.0
Turks and Caicos Islands,NaN,NaN
Tuvalu,NaN,110.0
Uganda,NaN,129.0
Ukraine,NaN,153.0
United Arab Emirates,0.893811,104.0
United Kingdom,1.202411,NaN
United Kingdom: England & Wales,NaN,139.0
United Kingdom: Northern Ireland,NaN,79.0
United Kingdom: Scotland,NaN,150.0
United States,5.353325,NaN
United States of America,NaN,655.0
Upper middle income,NaN,NaN
Uruguay,7.694270,295.0
Uzbekistan,NaN,150.0
Vanuatu,NaN,71.0
Venezuela,NaN,178.0
"Venezuela, RB",56.333320,NaN
Vietnam,NaN,137.0
Virgin Islands (U.S.),NaN,NaN
Virgin Islands (USA),NaN,542.0
Virgin Islands (United Kingdom),NaN,470.0
West Bank and Gaza,0.688241,NaN
World,NaN,NaN
Yemen,NaN,53.0
"Yemen, Rep.",NaN,NaN
Zambia,NaN,146.0
Zimbabwe,NaN,114.0